<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/main.css">
  <title>Car info</title>
</head>
<body>
  <h1>Car</h1>
  <img src="https://picsum.photos/200/?random=1"/>
 <p>Make: <%= cars.make %> </p> 
 <p>Model: <%= cars.model %> </p> 
 <p>MPG: <%= cars.mpg %> </p> 
 <p>Miles Driven: <%= cars.milesDriven %> </p> 
 <p>Proposed Price: <%= cars.proposedPrice %> </p> 
</body>
</html>